.header {
  width: 100%;
  color: white;
  padding: 1rem 0 0.875rem 0;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 5;
}

.logo {
  display: flex;

  .vector {
    width: 2.188rem;
    height: 2.188rem;
  }

  .streamVibe {
    width: 4.96rem;
    height: 0.73rem;
  }

  .streamVibeBig {
    display: none;
  }
}

@media (max-width: 1024px) {
  .smallButtonContainer {
    display: none;
  }

  .bigButtonContainer {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0);
    position: absolute;

    .logo {
      position: relative;
      display: flex;

      .vector {
        width: 3.75rem;
        height: 3.75rem;
      }

      .streamVibeBig {
        width: 8.5rem;
        height: 2rem;
      }

      .streamVibe {
        display: none;
      }
    }

    .mobile-icon {
      display: none;
    }

    .bigButtonContainer {

      ul {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(50, 50, 50, 0.2);
        border: 2px solid rgba(128, 128, 128, 0.1);
        border-radius: 4px;

        li {
          font-size: 1.125rem;
          box-sizing: border-box;
          padding: 1rem 1.5rem;

          &:hover {
            background-color: rgba(128, 128, 128, 0.3);
            cursor: pointer;
            border-radius: 5px;
          }
        }
      }
    }

    .smallButtonContainer {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}