.header {
  width: 100%;
  color: var(--PText);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  position: relative;
  z-index: 5;
}

.logo {
  display: flex;

  img {
    width: 100%;
    height: auto;
  }
}

.mobile-icon {
  display: none;
}

.bigButtonContainer {
  border: 2px solid var(--lineColor);
  border-radius: 5px;
  gap: 20px;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    li {
      padding: 15px 20px;
      border-radius: 5px;
      font-size: 1rem;
      border: 1px solid var(--background);
    }

    li:hover {
      background-color: var(--lineColor);
      color: white;
    }
  }
}

@media (max-width: 1024px) {


  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 60px;
    /* Adjust based on header height */
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 10;


    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin: 10px 0;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}


@media (max-width: 768px) {
  .smallButtonContainer {
    display: none;
  }

  .bigButtonContainer {
    display: none;
  }

  .mobile-icon {
    display: block;
    cursor: pointer;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 60px;
    /* Adjust based on header height */
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 10;


    ul {
      margin: 0 10px;
      padding: 20px 0;
      border: 1px solid var(--background);
    }

    li {
      margin: 20px 0;
      display: block;
      text-align: center;
      font-size: 1rem;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}